/* ------
Fonts
--------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ---------
Global Css

-------*/
:root{
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000000;
    --black-400:#555555;
    --black-100:#f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);

}
*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
body{
    font-family:'Poppins',sans-serif;
    font-size:16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffff;
    line-height: 1.5;
}
.btn-1{
    background-color: #ffffff;
    padding:12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5 ease;
    box-shadow: var(--shadow-black-300);
    font-weight:500;
    
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #ffffff;
    background-color:var(--main-color);
    
}

@keyframes spin_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop_01 {
        0%,100%{
            transform:translateY(-30px);
        }
        50%{
            transform:translateY(0px);
        }
}
@keyframes pulse_01 {
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    75%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
}

.effect-wrap .effect{
    position: absolute;
    z-index:-1;
}
.effect-wrap .effect-1{
    left: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2 {   
    right:5%;
    top:15%;
    font-size: 25px;
    color: whitesmoke;
    animation: spin_01 6s linear infinite;
}
.effect-wrap .effect-3{   
    left:5%;
    bottom:30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop_01 3s linear infinite;
}
.section-padding{
    padding: 80px 0;
}
.section-title{
    margin-bottom: 60px;
}

.section-title h2 {
    font-size:40px;
    font-weight:700;
    color:var(--black-900);
    text-transform: capitalize;
    text-align: center;
}
.section-title h2 span {
    color: var(--main-color);
}

.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height:10px;
    width:44px;
    background-color:#dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}
/*----------
 NAVBAR
 
-------*/


.navbar{
    background-color: transparent;
    padding: 0 20px;
    transition: all 0.5 ease;
}
.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    padding: 10px 0;
}
.navbar > .container {
    padding: 0 15px;
}
.navbar .navbar-brand{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}
.navbar .nav-item{
    margin-left: 40px;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}
.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
 
}

/* -------
Home Section
 ---------*/

 .home{
    min-height: 100vh;
    padding: 150px 0px;
    background-color: var(--main-to-dark-color);
    border-bottom-right-radius: 200px;
    position: relative;
    z-index: 1;
 }
 .home-text h1{
    font-size: 45px;
    font-weight:700;
    color: #ffffff;
    margin: 0 0 20px;
 }
 .home-text p {
     font-size:18px;
     line-height: 28px;
     color: #ffffff;
     margin:0;
     font-weight: 300;
 }
 .home .home-btn{
    margin-top:40px;
 }
 .home .home-btn .video-play-button{
     margin-left: 30px;
     height: 50px;
     width: 50px;
     padding: 0;
     animation: pulse_01 2s ease infinite;
    
 }
 .home .home-btn .video-play-button i {
     line-height: 50px;
 }
 .home .home-btn .video-play-button:hover{
     animation: none;
    box-shadow: var(--shadow-black-300);
} 

 .home-img img{
     max-width: 250px;
     width:100%;
     box-shadow: var(--shadow-black-100);
     border-radius: 32px;
     animation: bounceTop_01 3s ease infinite;
 }
 .home-img{
     position:relative;
 }
 .home-img .circle{
     position:absolute;
     z-index: 1;
     height:400px;
     width: 400px;
     border: 1px solid rgba(255,255,255,0.2);
     border-radius:50%;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%); 
 }

 .home-img .circle::before{
     content: " ";
     position: absolute;
     height: 60px;
     width: 60px;
     background-color: rgba(255,255,255,0.4);
     border-radius: 50%;
     left: 30px;
     top: 30px;
     transform-origin: 170px 170px;
     animation: spin_01 10s linear infinite;

 }

 /* ------ 
 Video popup 
 -----------*/

 .video-popup{
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5 ease;
 }
 .video-popup-inner{
     width: 100%;
     max-width: 900px;
     position: relative;
 }
 .video-popup .video-popup-close{
    position: relative;
    right: 0;
    top: -30px;
    height:30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;
 }
 .video-popup .iframe-box{
      height:0;
      overflow:hidden;
      padding-top: 56.25%;
 }
 .video-popup #player-1{
      position:absolute;
      left:0;
      top:0;
      width: 100%;
      height:50vh;
      border: 0;
 }

 /* ==============
  Features Section
  ================*/

.feature-item{
    box-shadow: var(--shadow-black-100);
    margin:15px;
    padding:30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

  }
  .feature-item::before,
  .feature-item::after {
    position: absolute;
    content: '';
    z-index: -1;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
  }

  .feature-item::before{
      height: 20px;
      width: 20px;
      background-color: var(--color-1);
      left: 10px;
      top: 40%;
  }
  .feature-item:hover::before{
      left: 10px;
      opacity: 1;
  }

  .feature-item::after {
      height: 30px;
      width: 30px;
      background-color: var(--color-2);
      right: -30px;
      top: 80%;
  }
  .feature-item:hover::after{
    opacity: 1;
    right: -10px;
  }
  .feature-item .icon {

      height: 50px;
      width: 50px;
      margin: 0 auto 20px;
      text-align: center;
      font-size: 40px;
      color: var(--main-color);
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;

  }

    .icon .tampa-icon::before{
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom:15%;
        width:110%;
        height: 110%;
        background-color:var(--main-color);
        transition: all 0.5s ease;
        z-index: -1;
        opacity: 0;
    }
    .features .feature-item:hover .icon{
        color: #ffff;
        font-size:30px;
    }
    .features .feature-item:hover .tampa-icon::before{
        top:-20%;
        left: -6%;
        border-radius: 50%;
        opacity: 1;

    }

  .feature-item .icon i {
      line-height:60px
  }
  .feature-item h3 {
      font-size: 22px;
      margin: 0 0 20PX;
      color: var(--black-900);
  }
  .feature-item  p{
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      color: var(--black-400);
      margin: 0 0 15px;
  }

  /* =========
  Fun Facts Section 
  ===========*/

.fun-facts{
    background-color: var(--black-100);
}
.fun-facts img {
     max-width: 250px;
     width:100%;
     box-shadow: var(--shadow-black-100);
     border-radius: 32px;
     animation: bounceTop_01 3s ease infinite;
}
.feature-item .section-title {
    margin-bottom: 20px;
}
.feature-item .section-title h2 {
    text-align: left;
}
.fun-facts-text p{
    font-size: 16px;
    line-height:26px;
    color:var(--black-400);
    margin: 0 0 15px;
    font-weight: 300;
}
.fun-facts-item{
    padding: 40px 30px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-top: 30px;
}
.fun-facts-item h3{
    font-weight: 700;
    font-size: 40px;
    color: whitesmoke;
    margin:0 0 8px;
}
.fun-facts-item span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    line-height:26px;
    display: block;
    margin:0;
    color: white;

}
.fun-facts-item.style-1{
    background-color: var(--color-1);
}
.fun-facts-item.style-2{
    background-color: var(--color-2);
}
.fun-facts-item.style-3{
    background-color: var(--color-3);
}
.fun-facts-item.style-4{
    background-color: var(--main-color);
}

 /*=============
   APP Screenshots section 
   ============*/
   .screenshot-item {
       margin-top: 15px;
   }
.screenshot-item img{
    width:100%;
    max-width:250px;    
}

/* ===========
Dowloado App
============== */
.image-screenshots-dowload{
    background: linear-gradient( rgba(80, 36, 255, 0.65), rgba(80, 36, 255, 0.65)),
     url(img/download-app-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     
}
.btn-dowload{
     border: none;
     background-color: var(--main-color);
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     border-radius: 60px;
     padding: 15px 40px;
     font-weight: 600;
}
.feature-item.white-bg-dowload {
    background-color: white;
}
.section-title.dowload h2{
    color: white ;
}

/* ==========
How it Works
============ */
.how-it-works-item {
    padding:30px;
    text-align: center;
    position:relative;
    z-index: 1;
}
.how-it-works-item.line-right::before{
    content:'';
    position:absolute;
    height:2px;
    width:100%;
    left: 50%;
    top: 60px;
    z-index: -1;
    background-color: var(--main-color);

}
.how-it-works-item.last-line::before{
    width:0;
}

.how-it-works-item .step{
    background-color: var(--main-color);
    display: inline-block;
    height:60px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius:50%;
    color: #ffff;
    font-weight: 500;

}   
.how-it-works-item h3{
    margin: 20px 0; 
    font-size: 22px;
    font-weight: 500;
    color: var(--black-900);
    text-transform: capitalize;
}
.how-it-works-item p{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color:var(--black-400);
    line-height: 26px;
}   

/*============ 
What client say
=============== */
.owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    
}
/* .owl-carousel .owl-nav .owl-prev i,
.owl-nav .owl-next i {
        color:var(--main-color)
} */

.testimonials{
    background-color:var(--black-100) ;
}
.testimonials-item{
    padding: 30px;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    text-align: center;
}
.testimonials-item{
    font-size: 16px;
    margin: 20px 15px;
    color: var(--black--400);
    line-height:26px;
    font-weight: 300;
}
.testimonials-item .img-box{
    height:100px;
    width:100px;
    display: inline-block;
    margin-bottom: 30px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}
.testimonials-item .img-box img{
    width:100%;
    border-radius: 50%;
}
.testimonials-item .img-box i{
    position:absolute;
    height:30px;
    width:30px;
    background-color:var(--main-color);
    border-radius: 50%;
    color: #ffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    left: calc(100% - 15px);
    top: calc(50% - 15px);


}
.testimonials-item h3{
    font-size: 22px;
    color: var(--black--900);
    font-weight: 500;
    margin: 0 0 15px;
    text-transform: capitalize;
}
.testimonials-item span{
    display:block;
    font-size: 16px;
    color: var(--black-400);
    font-weight: 300;
}   
.testimonials-item .rating{
    margin-top: 10px;
}
.testimonials-item .rating i{
    display:inline-block;
    font-size: 16px;
    color: var(--color-2);
}

/* =========
PRICE PLAN
=========== */
.card-price{
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
}
.card-price .price{
    text-align: center;
}
.card-price h2 {
    border-bottom: 1px solid rgb(218, 217, 217);
    font-weight: 600;
    font-size: 35px;
    padding: 15px 20px
} 

.card-price span {
    font-size: 90px;
    color: var(--main-color);
    font-weight: 700;
    position: relative;
}
.card-price span::before{
    content:'$';
    font-size:20px ;
    color: #2b2c2f;
    font-weight: 200;
    position: absolute;
    left: -15px;
    top: 20px;
}
.description {
padding: 0PX 30px;
}
.description p {
    border-bottom: 1px solid rgb(218, 217, 217);
    font-size: 18px;
    font-weight: 200;
    color: #555555;
    padding: 6px;
    line-height: 30px;
} 
.description p:nth-child(5) {
    border-bottom: none;
}
.description i {
    color: var(--main-color);
}
.description .btn-Price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: none;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 60px;
    padding: 15px 40px;
    font-weight: 600;
}
.description .button-description{
    padding:30px 10px;
}
/* ========
Team members
=========== */
.team {
    background-color:var(--black-100) ;
}
.team-item {
    padding:30px;
    margin: 20px;
    box-shadow: var(--shadow-black-100);
    border-radius: 15px;
    
}
.team-item .img-member {
    padding-bottom: 20px;
}
.team-item h3{
    font-size: 22px;
    text-transform: capitalize;
}
.team-item span {
    color: #797979;
}
/* ======= 
QUESTION AREA
========= /*

*/
.question .accordion-item:not(:last-child) {
    margin-bottom: 20px;
}

.question .accordion-header{
    box-shadow: var(--shadow-black-100);
    padding: 20px 30px;
    transition: all 0.5s ease;
    cursor:pointer;
    position: relative;
}
.question .accordion-header::before{
    position: absolute;
    content: "\f067"; 
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    left: 30px;
    width:30px;
    left: 90%;
    top: 50%;
    transform:translateY(-50%);
    line-height:30px;
    text-align: center;
    transition: all 0.5s ease;
}
.question .accordion-header:not(.collapsed)::before{
    content: "\f068";
    color:#ffff
} 
.question .accordion-header:not(.collapsed) {
    background-color: var(--main-color);
}
.question .accordion-header:not(.collapsed) h3{
    color: #ffff;
}

.question .accordion-header h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-400);
    margin: 0;
    transition: all 0.5s ease;
}
.question .accordion-body p {
    font-weight: 300;
    font-size: 16px;
    color:var(--black-400);
    padding: 30px;
    line-height: 26px;
    margin: 0;
    box-shadow: var(--shadow-black-100);
    background-color: var(--black-100);
}


/*==========
 Get in Touch
 =========== */
 .contact-content {
     line-height:30px;
     position: relative;
     display:flex;
     width: 200px;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding-bottom:20px;
 }
 .all-content{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
 }
 .contact-content h4{
     font-size: 20px;
 }
 .contact-content p {
    width:max-content;
    font-size:18px;
    color:#797979
 }
 .contact-items::before {
    position: absolute;
    padding:13px;
    font-size:22px;
    line-height:20px;
    color: var(--main-color);
    border:1px solid var(--main-color);
    border-radius:50%;
    transform: translate(-63px,0px);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
 }

.contact-items:nth-child(1)::before{
    content: "\f124";
}
.contact-items:nth-child(2)::before {
  content:"\f0e0";
}
.contact-items:nth-child(3)::before {
    content:"\f095";    
}
    /* content: "\f124"; NAV ARROW*/

 
.title-form-section h3{
    font-size: 23px;
    color: var(--black-900);
    padding-bottom:20px;
}

/* ======
form area 
========*/

.form-section-part input,textarea{
    border:none;
}
 .form-touch{
    box-shadow: var(--shadow-black-100);
    height:60px;
 }
 .form-floating textarea {
     border: none;
     height:150px;
     box-shadow: var(--shadow-black-100);
     margin-bottom: 20px;
 }
.btn-form button{
     border: none;
     background-color: var(--main-color);
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     border-radius: 60px;
     padding: 15px 32px;
     font-weight: 600;
     box-shadow: var(--shadow-black-300);
     transition: all 0.5s ease;
}
.btn-form button:hover{
    opacity: 0.9;
}

/* ========= 
Footer Part 
======= */
.footer {
    background-color: var(--main-color);
    color: white;
    padding:50px 0;
} 
.footer-content {
    margin-bottom: 40px;
}
.footer h4 {
    font-weight: 600;
}
.footer a {
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    list-style: none;
    display: block;
}

.terms{
    border-top : 1px solid white;
}

.terms p {
    padding: 30px;
}

/* RESPONSIVE PART */
@media(max-width:991px){
    .navbar-toggler{
        background-color:var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height:34px;
        width: 44px;
        padding: 0;
        font-size: 16px;
        color:#ffff;
    }
    .navbar-nav{
        background-color:var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item{
        margin:0;
        padding: 5px 15px;
    }
    .navbar.navbar-shrink .navbar-toggler,
    .navbar.navbar-shrink .navbar-nav{
        background-color: var(--main-color);
    }
    .home-img.circle{
        height:320px;
        width:320px;   
    }
    .home-img .circle::before{
        left: 18px;
        top: 18px;
        transform-origin: 142px 142px;
    }
    .home-text h1 {
        font-size: 40px;
    }
    .how-it-works-item,
    .app-dowload-item {
        margin-bottom: 30px;
    }
    .how-it-works-item.line-right::before{
        content: none;
    }
    .how-it-works-item {
        box-shadow: var(--shadow-black-100);
        border-radius: 10px;
    }
    .fun-facts-item span {
        font-size: 16px;
    }
    .card-price{
        margin-bottom:30px;
    }
   .btn-Price{
       font-size:13px;
   }
    
}
@media(max-width:767px) {
    .home-text{
        margin-bottom: 80px;
    }
    .fun-fact-img { 
        margin-bottom: 30px;
    }
}
@media(max-width:575px) {
    .home-text h1 {
        font-size:30px;
    }
    .home-text p {
        font-size: 16px;
    } 
}